p,
div {
    font-family: 'Courgette', cursive;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Cinzel', serif;
}

:root {
    --main-color: #FE7F2D;
    --sec-color: #8dc7ee;
    --white: #FFFFFF;
    --black: #000000;
}

.tc-main {
    color: var(--main-color);
}

.tc-sec {
    color: var(--sec-color);
}

.tc-black {
    color: var(--black);
}

.tc-white {
    color: var(--white);
}

.bg-black {
    background-color: var(--black);
}

.bg-white {
    background-color: var(--white);
}

.bg-white-1 {
    background-color: #ffffff8e;
}

a {
    color: var(--black) !important;
    text-decoration: underline transparent !important;
}

a:hover {
    color: var(--black) !important;
    text-decoration: underline var(--sec-color) !important;
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url(/img/dentist.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media screen and (max-width:900px) {
    .masthead {
        height: 100vh;
        min-height: 500px;
        background-image: url(/img/dentista.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}

.border-nav-custom {
    border-bottom: 1px solid var(--black);
    border-top: 1px solid var(--black);
}

.bg-chisiamo {
    display: flex;
    background-image: url(/img/chisiamo.jpg);
    background-size: cover;
    height: 100vh;
    min-height: 500px;
    image-rendering: auto;
}

.img-card-custom {
    padding: 2%;
    background-color: var(--white);
    height: 40vh;
    border-radius: 100%;
    border: 2px solid var(--black);
}

.img-card-custom:hover {
    padding: 0%;
    background-color: var(--white);
    height: 40vh;
    border-radius: 100%;
    border: 2px solid var(--black);
}

.img-card-custom-2 {
    padding: 2%;
    background-color: var(--white);
    height: 20vh;
    width: 40vh;
    border-radius: 100%;
    border: 2px solid var(--black);
}

.card-custom {
    color: var(--black);
    background: linear-gradient(to bottom, transparent 50%, #8dc7ee) !important;
}

.btn-custom {
    background-color: #8dc7ee;
}

.btn-custom-2 {
    background-color: #8dc7ee !important;
}

.btn-custom-2:hover {
    color: #8dc7ee !important;
    background-color: #000000c9!important;
    transition: all 0.4s;
}

.underline-custom {
    text-decoration: underline 2px solid var(--sec-color);
}

.blur {
    background-color: rgba(0, 0, 0, 0.308);
    backdrop-filter: blur(4px);
}

.masthead-2 {
    background-image: url('/img/servizi.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.card-custom-2 {
    color: var(--black);
    background: linear-gradient(to bottom, transparent 50%, rgba(247, 248, 248, 0.767)) !important;
    border-radius: 30%;
}

@media screen and (max-width: 550px) {
    .card-custom-2 {
        color: var(--black);
        background: linear-gradient(to bottom, transparent 50%, rgba(247, 248, 248, 0.767)) !important;
        border-radius: 20%;
    }
}

.bg-custom {
    background-color: #8dc7ee4d;
    align-items: center;
}

.bg-grey {
    background: linear-gradient(to bottom, #55d4eb9b, rgba(255, 255, 255, 0.733));
}

.form-control {
    display: block;
    width: 280px !important;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #3884cf;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}